/* 
* @Author: Marte
* @Date:   2019-06-29 19:46:08
* @Last Modified by:   Marte
* @Last Modified time: 2019-07-01 16:01:20
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;


}
a{
    text-decoration: none;
}
html,body{
    height:100%;
}
#box{
    height:100%;
    display:flex;
    flex-direction:column;
}
/* <!--   header头部 -->*/
.header{
    height:86px;
  
/*     display:flex; */
}
.header p{
    font-size: 30px;
    color: #3d3d3d;
    text-align: center;
    line-height: 86px;
}
/*<!--  main内容 -->*/
.main{
    flex:1;
  
    overflow: scroll;

}
.main div{
    width: 49%;
    float: left; 

    
}
.main div:nth-child(odd){
    margin-right: 2%;
}
.main>div>img{
    width: 100%;
}

.main>div>ul>li{
    font-size: 24px;
}

.main div ul li i{
    font-size: 20px;
    background:#fff1eb ;
}

.main div ul li:nth-child(2){   
    color:#ff5706;

}

.main div ul li ul li{
    float:left;
    padding:5px;
    position:relative;
}

.main div ul li ul li:nth-child(1){
    color:#e02e24;
    font-size: 26px;
}
.main div ul li ul li:nth-child(2){
    color:#b0b0b0;
    font-size: 22px;
}
.main div ul li ul li span{
    width:100px;
    height:56px;
    color:#69696b ;
    font-size: 24px;
    border:1px solid #c7c7c7;
    border-radius: 28px 0 0 28px;
    position: absolute;
    left:0px;
    top:-25px;
    text-align: center;
    line-height: 56px;
}
/*<!--  footer底部 -->*/
.footer{
    height:77px;
    border-top:1px solid #dadada;
    display:flex;
}
.footer a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#757778;
}
.footer a:nth-child(2){
    color: #df2d24;
}
.footer i{
    font-size: 46px;
}
.footer span{
    font-size: 20px;
}

.footer a:hover{
    color:#df2d24 ;
}