* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
}

#faxian {
  height: 100%;
}

#faxian .main {
  height: 100%;
  background: #f5f5f5;
  overflow: auto;
}

#faxian .main .m-top {
  width: 100%;
  height: 42.66667vw;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #ededed;
}

#faxian .main .m-top .top-l {
  width: 49.86667vw;
  height: 42.53333vw;
  border-right: 1px solid #ededed;
}

#faxian .main .m-top .top-l ul {
  margin-top: 6.4vw;
  margin-left: 4.53333vw;
}

#faxian .main .m-top .top-l ul li {
  list-style: none;
  font-size: 4vw;
}

#faxian .main .m-top .top-l ul li .jb {
  color: #e49c36;
  font-weight: 600;
}

#faxian .main .m-top .top-l ul li .zero {
  font-size: 3.06667vw;
  color: #9a9a9a;
}

#faxian .main .m-top .top-l ul li:nth-child(1) {
  margin-bottom: 2.4vw;
}

#faxian .main .m-top .top-l .t-im {
  width: 18.93333vw;
  height: 16.66667vw;
  margin-left: 27.33333vw;
  margin-top: 4.66667vw;
}

#faxian .main .m-top .top-l .t-im img {
  width: 100%;
  height: 100%;
}

#faxian .main .m-top .top-r {
  width: 49.86667vw;
  height: 42.53333vw;
}

#faxian .main .m-top .top-r .r-t {
  width: 50vw;
  height: 21.2vw;
  display: flex;
  border-bottom: 1px solid #ededed;
}

#faxian .main .m-top .top-r .r-t .tt {
  margin-top: 6vw;
  margin-left: 4.26667vw;
}

#faxian .main .m-top .top-r .r-t .tt li {
  font-size: 2.93333vw;
  margin-bottom: 2.53333vw;
}

#faxian .main .m-top .top-r .r-t .tt li:nth-child(1) {
  font-size: 4vw;
  color: #34a2d3;
}

#faxian .main .m-top .top-r .r-t .im {
  width: 10.93333vw;
  height: 11.2vw;
  margin-left: 7.73333vw;
  margin-top: 5.06667vw;
}

#faxian .main .m-top .top-r .r-t .im img {
  width: 100%;
  height: 100%;
}

#faxian .main .m-top .top-r .r-b {
  width: 50vw;
  height: 21.2vw;
  display: flex;
  border-bottom: 1px solid #ededed;
}

#faxian .main .m-top .top-r .r-b .tb {
  margin-top: 6vw;
  margin-left: 4.26667vw;
}

#faxian .main .m-top .top-r .r-b .tb li {
  font-size: 2.93333vw;
  margin-bottom: 2.53333vw;
}

#faxian .main .m-top .top-r .r-b .tb li:nth-child(1) {
  font-size: 4vw;
  color: #ff726e;
}

#faxian .main .m-top .top-r .r-b .im2 {
  width: 10.93333vw;
  height: 11.2vw;
  margin-left: 12vw;
  margin-top: 5.06667vw;
}

#faxian .main .m-top .top-r .r-b .im2 img {
  width: 100%;
  height: 100%;
}

#faxian .main .Recommend {
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin-top: 2.8vw;
}

#faxian .main .Recommend .re-title {
  height: 15.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#faxian .main .Recommend .re-title .t-state {
  display: flex;
  justify-content: center;
  position: relative;
}

#faxian .main .Recommend .re-title .t-state .span1 {
  width: 3.33333vw;
  height: 0.26667vw;
  background: #000;
  position: absolute;
  top: 2.66667vw;
  left: -4.66667vw;
}

#faxian .main .Recommend .re-title .t-state .span1::after {
  display: block;
  content: "";
  width: 1.33333vw;
  height: 1.33333vw;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -0.53333vw;
  right: -0.4vw;
}

#faxian .main .Recommend .re-title .t-state .span2 {
  width: 3.33333vw;
  height: 0.26667vw;
  background: #000;
  position: absolute;
  top: 2.66667vw;
  left: 25.33333vw;
}

#faxian .main .Recommend .re-title .t-state .span2::after {
  display: block;
  content: "";
  width: 1.33333vw;
  height: 1.33333vw;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -0.53333vw;
  right: 2.53333vw;
}

#faxian .main .Recommend .re-title .t-state p {
  width: 4.4vw;
  height: 4.4vw;
  margin-right: 1.33333vw;
}

#faxian .main .Recommend .re-title .t-state p img {
  width: 100%;
  height: 100%;
}

#faxian .main .Recommend .re-title .t-state h2 {
  display: flex;
  font-size: 4.53333vw;
  line-height: 4.53333vw;
}

#faxian .main .Recommend .re-title .st-b {
  font-size: 2.66667vw;
  color: #969696;
  margin-top: 1.06667vw;
}

#faxian .main .Recommend .foot {
  width: 100%;
  height: 70.53333vw;
  margin: auto;
  margin-bottom: 2.4vw;
  display: flex;
}

#faxian .main .Recommend .foot .foot-left {
  width: 45.73333vw;
  height: 100%;
  margin-left: 2.53333vw;
  border: 1px solid #eeeeee;
}

#faxian .main .Recommend .foot .foot-left .lsf {
  width: 100%;
  height: 46vw;
  background: url(../images/lsf_03.gif);
  background-size: cover;
}

#faxian .main .Recommend .foot .foot-left ul {
  width: 40.93333vw;
  height: 17.06667vw;
  margin-left: 2.8vw;
  border-bottom: 1px dashed #ccc;
}

#faxian .main .Recommend .foot .foot-left ul li {
  margin-bottom: 0.66667vw;
}

#faxian .main .Recommend .foot .foot-left ul li:nth-child(1) {
  font-size: 3.73333vw;
}

#faxian .main .Recommend .foot .foot-left ul li:nth-child(2) {
  font-size: 2.4vw;
  color: #9a9a9a;
}

#faxian .main .Recommend .foot .foot-left ul li:nth-child(3) {
  font-size: 3.2vw;
  color: #9a9a9a;
}

#faxian .main .Recommend .foot .foot-left ul li:nth-child(3) span:nth-child(1) {
  color: #ff5e09;
  font-weight: 600;
}

#faxian .main .Recommend .foot .foot-left ul li:nth-child(3) span:nth-child(2) {
  color: #ff8f8b;
  padding: 0.26667vw;
  border: 1px solid #ff8f8b;
  border-radius: 0.66667vw;
}

#faxian .main .Recommend .foot .foot-left .dp {
  width: 40.93333vw;
  margin-left: 2.8vw;
  margin-top: 3.06667vw;
  color: #9a9a9a;
  display: flex;
}

#faxian .main .Recommend .foot .foot-left .dp p {
  width: 2.53333vw;
  height: 2.53333vw;
  background: url(../images/dp_03.gif);
  background-size: cover;
}

#faxian .main .Recommend .foot .foot-left .dp span {
  font-size: 2.8vw;
  line-height: 2.8vw;
  margin-left: 3.06667vw;
}

#faxian .main .Recommend .more {
  width: 100%;
  height: 14.13333vw;
  text-align: center;
  margin-bottom: 20vw;
}

#faxian .main .Recommend .more span {
  font-size: 3.33333vw;
  line-height: 14.13333vw;
}

#faxian .footer {
  width: 100%;
  height: 14.13333vw;
  background: red;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
  background: #fff;
  border-top: 1px solid #efefef;
}

#faxian .footer a {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9a9a9a;
  justify-content: center;
  text-decoration: none;
}

#faxian .footer a i {
  height: 4.8vw;
  width: 4.8vw;
}

#faxian .footer a i img {
  width: 100%;
  height: 100%;
}

#faxian .footer a i:nth-child(1) {
  color: #0989ee;
}

#faxian .footer a p {
  font-size: 2.4vw;
  margin-top: 1.33333vw;
}
