*{
    margin: 0;
    padding: 0;
}
ul,
li{
    list-style: none;
}
html,
body{
    height: 100%;
    width: 100%;
}
#boke{
    display: flex;
    flex-direction: column;
    .bk-header{
        width: 100%;
        height: 280px;
        .h-top{
            width: 100%;
            height: 222px;
            display: flex;
            border-bottom: 1px solid #ebebeb;
            justify-content: center;
            align-items: center;
            span{
                width:60px;
                height: 68px;
                background: url(../images/01.png);
            }
        }
        .h-bottom{
            width: 100%;
            height: 58px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            border-bottom: 2px solid #e1e1e1;
            a{
                display: none;
            }
            .list1{
                height: 100%;
                li{
                    float: left;
                    width: 95px;
                    height: 100%;
                    text-align: center;
                    line-height: 58px;
                }
                li:nth-child(1){
                    border-bottom: 2px solid #e67e22;
                }
            }
            
        }
    }
    .bk-main{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        background: #ebebeb;
        .l-box{
            width: 50%;
            margin-top:35px;
            background: #ededed;
            .m-conten{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom:35px;
                background: #fff;
                h2{
                    font-size:34px;
                    line-height: 34px;
                    margin-top:36px;
                }
                p:nth-of-type(1){
                    color: #959595;
                    font-size:12px;
                    margin-top:20px;
                    span{
                        color: #e67e22;
                    }
                }
                p:nth-of-type(2){
                    width: 90%;
                    font-size:16px;
                    color: #202020;
                    margin-top:44px;
                }
                .icon{
                    width: 90%;
                    height: 60px;
                    margin-top:20px;
                    margin-bottom: 50px;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .r-box{
            width: 20%;
            margin-top:35px;
            margin-left:20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            // background: green;
            .rb{
                width: 90%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: #fff;
                margin-bottom:20px;
                .title{
                    width: 90%;
                    height: 40px;
                    margin-bottom: 27px;
                    border-bottom: 1px solid #ccc;
                    span{
                        display: block;
                        width: 70px;
                        height: 100%;
                        line-height: 40px;
                        border-bottom: 1px solid #e67e22;
                    }
                }
                ul{
                    width: 90%;
                    li{
                        font-size:12px;
                        margin-top:20px;
                        color: #e67e22;
                    }
                    li:nth-child(1){
                        font-size:12px;
                        color: #202020;
                    }
                }
                
            }
        }
    }
    .bk-footer{
        width: 100%;
        display: flex;
        justify-content: center;
        background: #202020;
        border-bottom: 1px solid #959595;
        .f-main{
            width: 20%;
            height: 295px;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            .new{
                width: 100%;
                height: 66px;
                display: flex;
                // background: red;
                border-bottom:1px solid #ccc;
                span{
                    height: 100%;
                    line-height: 66px;
                    border-bottom: 1px solid #e67e22;
                    color: #fff;
                }
            }
            ul{
                width: 100%;
                height: 100%;
                // background: green;
                display: flex;
                color: #fff;
                flex-direction: column;
                li{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #959595;
                    font-size:13px;
                    border-bottom: 1px dashed #ccc;
                }
                li:nth-child(3){
                    margin-bottom: 20px;
                }
            }
        }
    }
    .ff{
        height: 81px;
        display: flex;
        justify-content: center;
        background: #111111;
        ul{
            color: #555555;
            font-size:14px;
            display: flex;
            align-items: center;
            li{
                float: left;
                text-align: center;
                span{
                    padding:0px 10px 0px 10px;
                }
            }
        }
    }
}