* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#boke {
  display: flex;
  flex-direction: column;
}

#boke .bk-header {
  width: 100%;
  height: 280px;
}

#boke .bk-header .h-top {
  width: 100%;
  height: 222px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  justify-content: center;
  align-items: center;
}

#boke .bk-header .h-top span {
  width: 60px;
  height: 68px;
  background: url(../images/01.png);
}

#boke .bk-header .h-bottom {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px solid #e1e1e1;
}

#boke .bk-header .h-bottom a {
  display: none;
}

#boke .bk-header .h-bottom .list1 {
  height: 100%;
}

#boke .bk-header .h-bottom .list1 li {
  float: left;
  width: 95px;
  height: 100%;
  text-align: center;
  line-height: 58px;
}

#boke .bk-header .h-bottom .list1 li:nth-child(1) {
  border-bottom: 2px solid #e67e22;
}

#boke .bk-main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  background: #ebebeb;
}

#boke .bk-main .l-box {
  width: 50%;
  margin-top: 35px;
  background: #ededed;
}

#boke .bk-main .l-box .m-conten {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  background: #fff;
}

#boke .bk-main .l-box .m-conten h2 {
  font-size: 34px;
  line-height: 34px;
  margin-top: 36px;
}

#boke .bk-main .l-box .m-conten p:nth-of-type(1) {
  color: #959595;
  font-size: 12px;
  margin-top: 20px;
}

#boke .bk-main .l-box .m-conten p:nth-of-type(1) span {
  color: #e67e22;
}

#boke .bk-main .l-box .m-conten p:nth-of-type(2) {
  width: 90%;
  font-size: 16px;
  color: #202020;
  margin-top: 44px;
}

#boke .bk-main .l-box .m-conten .icon {
  width: 90%;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

#boke .bk-main .r-box {
  width: 20%;
  margin-top: 35px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boke .bk-main .r-box .rb {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-bottom: 20px;
}

#boke .bk-main .r-box .rb .title {
  width: 90%;
  height: 40px;
  margin-bottom: 27px;
  border-bottom: 1px solid #ccc;
}

#boke .bk-main .r-box .rb .title span {
  display: block;
  width: 70px;
  height: 100%;
  line-height: 40px;
  border-bottom: 1px solid #e67e22;
}

#boke .bk-main .r-box .rb ul {
  width: 90%;
}

#boke .bk-main .r-box .rb ul li {
  font-size: 12px;
  margin-top: 20px;
  color: #e67e22;
}

#boke .bk-main .r-box .rb ul li:nth-child(1) {
  font-size: 12px;
  color: #202020;
}

#boke .bk-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #202020;
  border-bottom: 1px solid #959595;
}

#boke .bk-footer .f-main {
  width: 20%;
  height: 295px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#boke .bk-footer .f-main .new {
  width: 100%;
  height: 66px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

#boke .bk-footer .f-main .new span {
  height: 100%;
  line-height: 66px;
  border-bottom: 1px solid #e67e22;
  color: #fff;
}

#boke .bk-footer .f-main ul {
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  flex-direction: column;
}

#boke .bk-footer .f-main ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #959595;
  font-size: 13px;
  border-bottom: 1px dashed #ccc;
}

#boke .bk-footer .f-main ul li:nth-child(3) {
  margin-bottom: 20px;
}

#boke .ff {
  height: 81px;
  display: flex;
  justify-content: center;
  background: #111111;
}

#boke .ff ul {
  color: #555555;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#boke .ff ul li {
  float: left;
  text-align: center;
}

#boke .ff ul li span {
  padding: 0px 10px 0px 10px;
}
