.cfkj{
    width: 100%;
    height: 5302px;
}
.cfkj .conten{
    width: 1140px;
    height: 100%;
    margin: auto;
    /* background:green; */
}


.cfkj .nav{
    width: 100%;
    height: 83px;
}
.cfkj .nav .conten{
    position: relative;
    text-align: center;
    background:url(../images/logo.png) no-repeat 0 center;
}
.cfkj .nav .conten .nav_main{
    width: 659px;
    height: 83px;
    position: absolute;
    right: 0px;
}
.cfkj .nav .conten .nav_main li{
    float: left;
    height:83px;
    width:80px;
    line-height: 83px;
    font-size:12px;
}
.cfkj .nav .conten .nav_main li a{
    display: block;
    width: 100%;
    height:100%;
}
.cfkj .nav .conten .nav_main li .yw{
    display: none;
}
.cfkj .nav .conten .nav_main li:hover .yw{
    display: block;
}
.cfkj .nav .conten .nav_main li:hover .zw{
    display: none;
}

/* 轮播图 */
.cfkj .bener{
    width: 100%;
    height: 448px;
    background: url(../images/56f3527bb57ce.jpg) center no-repeat;
}

/* business */
.cfkj .business{
    width: 100%;
    height:726px;
    overflow: hidden;
    text-align: center;
}
.cfkj .b_img{
    margin-top:42px;
}
.cfkj .business p{
    font-size: 17px;
    margin-top:24px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    color:#666666;
}
.cfkj .business .b_c_i{
    width: 352px;
    height:218px;
    float: left;
    position: relative;
    margin-right: 23px;
    margin-top:55px;
}


/* clients */
.cfkj .clients{
    width: 100%;
    height: 763px;
    text-align: center;
    background:#ebeff1;
}
.cfkj .clients p{
    font-size: 17px;
    margin-top:24px;
    color:#666666;
}
.cfkj .clients .clients_c{
    margin-top:58px;
}
.cfkj .clients .clients_c li{
    width: 280px;
    height: 166px;
    float: left;
    border:2px solid #ebeff1;
    overflow: hidden;
}
.cfkj .clients .clients_c li:hover .z{
    display: none;
}
.cfkj .clients .clients_c li:hover .c{
    display: inline-block;
}


/* works */



.cfkj .works{
    width: 100%;
    height: 682px;
    text-align: center;
}
.cfkj .works p{
    font-size: 17px;
    margin-top:24px;
    margin-bottom: 56px;
    color:#666666;
}
.cfkj .works .works_main img{
    width: 100%;
    height: 100%;
}
.cfkj .works .works_main{
    width:283px ;
    height: 211px;
    float: left;
    margin-right: 2px;
    margin-bottom: 1px;
}

/* news */


.cfkj .news{
    width: 100%;
    height: 801px;
    overflow: hidden;
    /* text-align: center; */
    background:url(../images/ind_news_bg.jpg) center no-repeat;
}
.cfkj .news .conten .b_img{
    display: block;
    margin: auto;
    margin-top:42px;
}
.cfkj .news p{
    font-size: 17px;
    margin-top:26px;
    margin-bottom: 56px;
    color:#666666;
    color:#fff;
    text-align: center;
}
.cfkj .news .news_main{
    width:550px ;
    height: 166px;
    float: left;
    margin-right: 40px;
    background:#fff;
    margin-bottom:15px;
}
.cfkj .news .news_main img{
    float: left;
    margin-right: 20px;
}
.cfkj .news .news_main h3{
    margin-top:30px;
    font-size:15px;
}
.cfkj .news .news_main .n_m_ul{
    margin-top:10px;
}
.cfkj .news .news_main .n_m_ul li{
    font-size: 12px;
    line-height:21px;
    width:525px;
    color: #777777;
}








/* experience */



.cfkj .experience{
    width:100%;
    height: 912px;
}
.cfkj .experience .ii{
    display:block;
    margin:auto;
    margin-top:42px;
}
.cfkj .experience .exp_c{
    font-size: 17px;
    margin-top:26px;
    margin-bottom: 59px;
    color:#666666;
    text-align: center;
}

.cfkj .experience .conten_main .c_m{
    width: 1140px;
    height: 187px;
    overflow: hidden;
    display: block;
    margin:auto;
    
}
.cfkj .experience .conten_main .c_m li{
    float: left;
    width: 260px;
    height: 130px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;

}
.cfkj .experience .conten_main .c_m li .bb{
    display: none;
}
.cfkj .experience .conten_main .c_m li:hover{
    border-bottom: 2px solid #0093dd;
}
.cfkj .experience .conten_main .c_m li:hover .bb{
    display: inline-block;
}
.cfkj .experience .conten_main .c_m li:hover .aa{
    display: none;
}
.cfkj .experience .conten_main .c_m li .c_m_p{
    font-size: 15px;
    color: #b2b2b2;
    margin-bottom: 16px;
    margin-top:19px;
}















.cfkj .main{
    height: 224px;
    width:100%;
    background:#0065c4;
}


.cfkj .footer{
    height:663px;
    width:100%;
    background:url(../images/footer_bj.jpg) no-repeat center;
}