*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}
#allpyra{
    display: flex;
    flex-direction:column;
    height: 100%;
    .all-header{
        height: 44px;
        display: flex;
        align-items: center;
        i{
            flex: 1;
            font-size:20px;
            padding-left: 14px;
        }
        span{
            flex: 6;
            display: flex;
            justify-content: center;
        }
        p{
            flex: 1;
            font-size:18px;
            padding-left: 18px;
        }
        
    }
    .all-main{
        flex: 1;
        display: flex;
        flex-direction: column;
        background: #f4f4f4;
        align-items: center;
        overflow: auto;
        .banner{
            height: 210px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        // banner
         .m-nav{
                height: 75px;
                width: 100%;
                display: flex;
                background: #fff;
                a{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size:7px;
                    color: #303030;
                    text-decoration: none;
                    align-items: center;
                    margin-top:5px;
                    i{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    span{
                        margin-top:9px;
                        margin-bottom: 10px;
                    }
                }
            }
        // nav
        .yjs{
            height: 65px;
            background: #fff url(../images/bg.png);
            margin-top:10px;
            background-size: cover;
            display: flex;
            justify-content: center;
            ul{
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                li{
                    display: flex;
                    font-size:9px;
                    margin-top:10px;
                    span{
                        color: #d8c79c;
                        padding: 2px;
                        border:1px solid #d8c79c;
                    }
                    p{
                        color: #505050;
                        padding-left: 8px;
                    }
                }
            }
        }
        // yanjiusuo

        // main
        .main{
            width: 100%;
            background: #fff;
            margin-top:10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .main-title{
                width: 90%;
                height: 169px;
                background: url(../images/list1.jpg);
                background-size: cover;
            }
            .lb{
                height: 155px;
                width: 100%;
                overflow: auto;
                display: flex;
                .img{
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                    margin-left: 10px;
                    i{
                        width: 100px;
                        height: 100px;
                        img{
                        width: 100%;
                        height: 100%;
                    }
                    }
                    span{
                        text-align: center;
                        font-size:8px;
                    }
                    p{
                        text-align: center;
                        font-size: 8px;
                        font-weight: 600;
                        margin-top:12px;
                    }
                }
            }
            .gy{
                width: 90%;
                height: 169px;
                margin-top:10px;
                background: url(../images/gy_03.gif);
                background-size: cover;
            }
            .xls{
                width: 90%;
                height: 169px;
                margin-top:10px;
                background: url(../images/xls_03.gif);
                background-size: cover;
            }
        }
        .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top:20px;
                margin-bottom: 20px;
                span{
                    font-size:12px;
                    color: #333333;
                    letter-spacing:20px;
                    line-height: 12px;
                }
                p{
                    font-size:7px;
                    margin-top:6px;
                    line-height: 7px;
                }
            }
            .Goods{
                width: 90%;
                display: flex;
                justify-content: center;
                align-content: center;
                .goods-title{
                    width: 45%;
                    height: 203px;
                    display: flex;
                    background: #fff;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom:20px;
                    i{
                        width: 120px;
                        height: 120px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p{
                        width: 80%;
                        font-size:9px;
                        margin-top:22px;
                    }
                    span{
                        width: 90%;
                        text-decoration: none;
                        font-size:10px;
                        margin-top:11px;
                        span:nth-child(1){
                            color: #f64e82;
                            padding-left: 10px;
                        }
                        span:nth-child(2){
                            margin-left:75px;
                            color: #a1a1a1;
                        }
                    }
                }
            }



    }

    // footer底栏
    .all-footer{
        height: 65px;
        background: #fff;
        display: flex;
        border-top:1px solid #e7e7e7;
        a{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #252525;
            text-decoration: none;
            font-size:12px;
            i{
                width: 24px;
                height: 24px;
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    margin-top:10px;
                }
            }
        }
    }
}